@import "common.scss";
@import "_minix.scss";
#wrap {
    width: 100%;
    height: 100%;
    font-size: pxTorem(18px);
}

section {
    width: 100%;
    display: flex;
    .box-right {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        overflow-y: scroll;
        dl {
            width: 33%;
            padding: 10px 0;
            text-align: center;
            line-height: 50px;
            dd {
                img {
                    width: 200px;
                }
            }
            dt {
                font-size: pxTorem(14px);
            }
        }
    }
}

footer {
    width: 100%;
    height: pxTorem(60px);
    display: flex;
    dl {
        width: 25%;
        height: 100%;
        text-align: center;
        dt {
            font-size: pxTorem(20px);
            text-align: center
        }
    }
}