@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: .14rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: '宋体';
}

html {
    font-size: 625%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

input,
button,
textarea,
select {
    outline: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

footer {
    width: 100%;
    height: 1.4rem;
}

footer ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer ul li.active {
    color: #ea449f;
}

footer ul li>i.iconfont {
    display: block;
    font-size: .5rem;
}

section {
    flex: 1;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    overflow: hidden;
}

section .left {
    width: 2.4rem;
    height: 100%;
    background: #F6F6F6;
}

section .left .left-list {
    width: 100%;
    height: auto;
}

section .left .left-list li {
    width: 100%;
    height: 1.33333rem;
    line-height: 1.33333rem;
    text-align: center;
    color: #6E6E6E;
}

section .right {
    flex: 1;
}

section .right .right-list {
    width: 100%;
    height: auto;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    flex-wrap: wrap;
}

section .right .right-list dl {
    width: 33.3%;
    height: 2.66667rem;
    margin-top: 0.53333rem;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

section .right .right-list dl dt {
    width: 100%;
    height: 2.13333rem;
}

section .right .right-list dl dt img {
    width: 90%;
}

section .right .right-list dl dd {
    height: 1.06667rem;
    line-height: 1.06667rem;
}

.left .left-list .active {
    color: #FF5777;
}

header {
    width: 100%;
    height: .45rem;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    padding-left: .1rem;
}

header label {
    flex: 1;
    width: 100%;
    position: relative;
}

header label .icon {
    position: absolute;
    top: .07rem;
    left: .1rem;
}

header label input {
    width: 100%;
    height: .33rem;
    text-indent: .33rem;
    background: #eee;
    border: 0;
    border-radius: 5px;
}

header span {
    flex-basis: .45rem;
    text-align: center;
    line-height: .45rem;
}

header span .icon {
    font-size: .18rem;
}