* {
    padding: 0;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

section {
    width: 100%;
    height: 100%;
}

section .left {
    width: 24%;
    height: 100%;
}

section .left ul {
    width: 100%;
    height: 100%;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

section .left ul li:nth-child(1) {
    color: red;
}