* {
    padding: 0;
    list-style: none;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: lightblue;
    display: flex;
}

.wrap header {
    width: 100%;
    height: 44px;
    background: red;
    /* display: flex;
    align-items: center; */
}

.wrap footer {
    width: 100%;
    height: 44px;
    flex-shrink: 0;
}

.wrap section {
    flex: 1;
    overflow: hidden;
}

.wrap section .right {
    width: 8.19rem;
    height: 100%;
    background: white;
    overflow: hidden;
}

.wrap section .right .coco {
    width: 100%;
}

.wrap section .right .coco ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.wrap section .right .coco ul li {
    width: 33.3%;
    height: 3.68rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap section .right .coco ul li img {
    width: 1.95rem;
    height: 1.93rem;
}

.wrap section .right .coco ul li p {
    font-size: .4rem;
}